<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img class="logo ms-3" src="/assets/images/logo.png" alt="Logo CEMET">
    </a>
    <div class="container ms-5 container__text-cemet">
      <h6 class="titulo-cemet">CEMET USACH</h6>
      <p class="info-cemet">
        Centro de Estudiantes de Ingeniería en Metalurgia de la Universidad de Santiago de Chile
      </p>
    </div>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="isShown = !isShown" [attr.aria-expanded]="isShown" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': isShown }"> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbitem">
        <li class="nav-item">
          <a class="nav-link active ms-4" aria-current="page" routerLink="/" routerLinkActive="is-active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-4" aria-current="page" routerLink="/noticias" routerLinkActive="is-active">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-4" aria-current="page" routerLink="/quienes-somos" routerLinkActive="is-active">Quiénes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-4" aria-current="page" routerLink="/calendario" routerLinkActive="is-active">Calendario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-4  me-4" aria-current="page" routerLink="/forms/contacto" routerLinkActive="is-active">Contacto</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
