h6,
p,
a,
button {
  font-family: var(--mainFont);
}

.navbar {
  min-height: 110px;
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  height: 80px;
  width: 80px;
  margin-right: -20px;
}

.container__text-cemet {
  width: 400px;
  margin-bottom: auto;
}

.titulo-cemet {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: auto;
}

.info-cemet {
  width: 80%;
  margin-top: 10px;
  font-size: 12px;
}

.collapse {
  justify-content: flex-end;
}

.navbitem {
  font-size: 18px;
  margin-right: 0 !important;
}

@media (max-width: 650px) {
  .logo {
    margin-right: -65px;
    margin-left: 0;
  }

  .container__text-cemet {
    width: 165px;
  }

  .titulo-containercemet {
    font-size: 12px;
  }

  .info-cemet {
    font-size: 10px;
  }
}
