button, li, div {font-family: var(--mainFont)}

.container-malla {
  margin: 2rem 1.6rem 0;
  border: 1px solid #ccc;
  padding: 1rem;
}

.container-btns {

margin-bottom: 50px;
}
.btnCivil,.btnCivilA,.btnEjecucion{
  width: 200px;
  height: 50px;
  border:none;
  border-radius: 8px;
  transition:  all 200ms ease;
  background-color: rgb(230, 230, 230);

}
.btnCivil:hover,.btnCivilA:hover,.btnEjecucion:hover{
background-color: #ccc;
}
.header-malla {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px; 
}

.header-year {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(126, 126, 126);
  border: 1px solid rgb(0, 0, 0);
  color: white;
}

.header-semester {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  transition:  all 200ms ease;
  
  
}
.header-semester:hover{
  background-color:rgb(236, 236, 236) ;
  transform: translateY(-3%);
}
.container-ramos {
  display: flex;
  flex-flow: row wrap;
  // margin: 0;
  // padding: 0;
}

.column-ramos {
  display: flex;
  flex-flow: column wrap;
  // height: 90%;
  // width: 8.3%;
  // flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: flex-end;
  // grid-template-rows: repeat(7, 1fr);
  // grid-template-columns: repeat(12, 1fr);
}

.ramos {
  // width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: .25rem;
  
  background-color: rgb(100, 100, 100);
  :hover {
    font-weight: bold;
  }
  border: 5px solid rgb(255, 255, 255);
  transition:  all 200ms ease;
}
.ramos:hover{
  transform: translateY(-3%);
}
