<div class=" container-malla">
  <div class="container-btns d-flex justify-content-between">
    <button class="btnCivil" (click)="changeRamosCarrera('civil2021')">Malla civil</button>
    <button class="btnCivilA" (click)="changeRamosCarrera('civil')">Malla civil antigua</button>
    <button class="btnEjecucion" (click)="changeRamosCarrera('ejecucion')">Malla ejecucion</button>
  </div>
  <!--<ol class="header-malla">
    <li class="header-year" *ngFor="let year of years"
         [style.width]="100 / years.length + '%'">
      {{ year }}° Año
    </li>
  </ol>-->  
  
  <ol class="header-malla">
    <li class="header-semester" id="civil2020"  *ngFor="let semestre of cantRamosPorSemestre; let i = index"
         [style.width]="100 / cantRamosPorSemestre.length + '%'">
      Semestre {{ i + 1 }}
  </li>
  </ol>
  <div class="container-ramos">
    <div class="column-ramos" *ngFor="let ramos of arrayRamosMallaCarrera; let i = index"
         [style.width]="100 / cantRamosPorSemestre.length + '%'">
      <div class="ramos" *ngFor="let ramo of ramos">{{ ramo }}</div>
      <!-- <li class="ramos">{{ ramos }}</li> -->
    </div>
  </div>
</div>
