.container-malla {
  margin: 2rem 1.6rem 0;
  border: 1px solid #ccc;
  padding: 1rem;
}

.container-btns {

}

.header-malla {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-year {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.header-semester {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.container-ramos {
  display: flex;
  flex-flow: row wrap;
  // margin: 0;
  // padding: 0;
}

.column-ramos {
  display: flex;
  flex-flow: column wrap;
  // height: 90%;
  // width: 8.3%;
  // flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: flex-end;
  // grid-template-rows: repeat(7, 1fr);
  // grid-template-columns: repeat(12, 1fr);
}

.ramos {
  // width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: .25rem;
  border: 1px solid rgb(41, 41, 41);
  background-color: rgb(61, 61, 61);
  :hover {
    font-weight: bold;
  }
}
