<div class="container-fluid noticiasHead">
  <div class="container-fluid">
      <h1 class="h1Head">Restablecer contraseña</h1>
  </div>
</div>

<div class="container-fluid cajaForm">
  <form [formGroup]="form" (ngSubmit)="forgotPassword($event)" class="formLogin needs-validation">
    <label for="email" class="lCorreo">Correo</label>
    <input id="email" formControlName="email" autocomplete="email" class="form-control iUser" matInput type="email" [ngClass]="{ 'is-invalid': clicked && f['email'].errors}">
    <div *ngIf="clicked && f['email'].errors" class="invalid-feedback">
      <div *ngIf="f['email'].errors['required']">El email es obligatorio</div>
      <div *ngIf="f['email'].errors['email']">Por favor, ingresa un Correo válido</div>
    </div>
    <br>
    <div class="container-btn">
      <button mat-raised-button color="primary" class="buttonLogin" type="submit">Enviar solicitud</button>
    </div>
    <p *ngIf="message">{{message}}</p>
  </form>
</div>
