div, h1 {font-family: var(--mainFont);}

.noticiasHead{
    background-color: rgb(245, 245, 245);
    height:100px;
    padding-top: 30px;
    border-top:solid 0.1px rgb(226, 226, 226);
    border-bottom:solid 0.1px rgb(226, 226, 226);


}
.h1Head{
    margin-left: 50px;

}
