
<div class="container-fluid noticiasHead">
  <div class="container-fluid">
      <h1 class="h1Head">Calendario de Actividades</h1>
  </div>
</div>

<div class="wrapper-calendar container-fluid">
  <div class="header-calendar container-fluid">
    <div class="diva container-fluid">
      <button (click)="changeMonth(-1)" class="btn-prev">Antes</button>
    </div>
    <h1>{{ months[dateSelect.month()] }}, {{ dateSelect.year() }}</h1>
    <div class="divd container-fluid">
      <button (click)="changeMonth(1)" class="btn-next">Siguiente</button>
    </div>
  </div>

  <ol>
    <li *ngFor="let day of week" class="day-name">{{ day | slice:0:3 }}</li>

    <li class="day"  (click)="clickDay(day)" *ngFor="let day of monthSelect; let first = first"
        [style.gridColumnStart]="first ? day?.indexWeek : 'auto'">
      <span>{{day?.value}}</span>
    </li>
  </ol>
</div>

<hr>
<div>
	Fecha: {{dateValue | date}}
</div>
