<div class="container-fluid container__logout" *ngIf="user">
  <button class="btn btn-outline-primary btnCerraS" (click)="logout()">Cerrar Sesión</button>
</div>

<div class="container-fluid mt-4">
  <div class="container-fluid containerTCrearNoticia">
    <h1 class="TCnoticia">Crear Noticia</h1>
    <hr class="hrCrearNoticia">
  </div>
</div>

<div class="container-fluid CCrearNoticia position-relative">
  <form [formGroup]="form" class="container-fluid form-group" (ngSubmit)="createNew($event)">
    <div class="mb-1">
      <label for="title">Titulo de la Noticia</label>
      <input id="title" type="text" formControlName="title" class="form-control" placeholder="Titulo" [ngClass]="{ 'is-invalid': clicked && f['title'].errors}">
      <div *ngIf="clicked && f['title'].errors" class="invalid-feedback">
        <div *ngIf="f['title'].errors['required']">El titulo de la noticia es obligatorio</div>
        <div *ngIf="f['title'].errors['minlength']">Por favor, el titulo de la noticia debe ser más largo</div>
      </div>
    </div>

    <div class="mb-1 container__div-category">
      <label for="category">Categoría de la Noticia</label>
      <input id="category" formControlName="category" type="text" class="form-control" placeholder="Noticia, Evento, Comunicado Oficial, etc." [ngClass]="{ 'is-invalid': clicked && f['category'].errors}">
      <div *ngIf="clicked && f['category'].errors" class="invalid-feedback">
        <div *ngIf="f['category'].errors['required']">La categoría de la noticia es obligatoria</div>
      </div>
    </div>

    <div class="mb-1">
      <label for="image" class="form-label">Seleccionar Imagen</label>
      <br>
      <img *ngIf="(image$ | async) as image" [src]="image" alt="Imagen Subida" height="200px" width="200px">
      <input id="image" type="file" class="form-control form-control-sm" (change)="uploadFile($event)">
    </div>

    <label for="body">Contenido</label>
    <textarea name="body" id="body" class="form-control" placeholder="Contenido" cols="10" rows="5" formControlName="body" [ngClass]="{ 'is-invalid': clicked && f['body'].errors}"></textarea>
    <!-- <div [(ngmodel)]="content" class="form-control form-control-sm" [styles]="editorStyle" id="editor"
              trackChanges="all" placeholder="Noticia" [ngClass]="{ 'is-invalid': clicked && error}">
    </div> -->
    <!-- <div *ngIf="clicked && error" class="invalid-feedback">
      <div *ngIf="error">El contenido de la noticia es obligatorio</div>
      <div *ngIf="errorRequired">El contenido de la noticia tiene que ser más largo</div>
    </div> -->
    <div *ngIf="clicked && f['body'].errors" class="invalid-feedback">
      <div *ngIf="f['body'].errors['required']">El titulo de la noticia es obligatorio</div>
    </div>

    <div class="cBtn mt-3 mb-3">
      <button type="submit"  class="btn btn-primary btnCrear">Crear</button>
    </div>

    <p *ngIf="message">{{message}}</p>
  </form>
</div>

<div id="text"></div>
