
<div class="container-fluid ">
  <div class="container-fluid containerTCrearNoticia">
    <h1 class="TCnoticia">Crear Noticia</h1>
    <hr class="hrCrearNoticia">
  </div>
 
</div>

  <div class="container-fluid CCrearNoticia position-relative">
    <form [formGroup]="form" class="container-fluid form-group  " (ngSubmit)="test(form.value)">
      <label for="LnNoticia">Nombre de la Noticia</label>
      <input type="text" formControlName="name" class="form-control" placeholder="Nombre ">
    <!--<input type="email" formControlName="email" class="form-control" placeholder="Email">-->  
      <label for="lDropdown">Tipo de noticia</label>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          -
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="mb-3">
        <label for="formFileSm" class="form-label">Seleccionar Imagen</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
      </div>
      <label for="LcontenidoNoticia">Contenido</label>
      <div [(ngmodel)]="content" id="editor" trackChanges="all" placeholder="Texto"></div>
      
      <!-- <quill-editor [(ngModel)]="content" trackChanges="all" [modules]="modules" (onEditorCreated)="addBindingCreated($event)"></quill-editor> -->
      
      <div class="container-fluid cBtn">
        <button type="submit" class="btn btn-primary btnCrear ">Crear</button>
      </div>
    </form>
  </div>
  

  
<div class="container-fluid CcerrarSesion">
  <hr class="hrCrearNoticia">
  <button class="btn btn-outline-primary btnCerraS" (click)="logout()">Cerrar Sesión</button>
  <div id="quill" class="container">
    <p>Content *</p>
  </div>
</div>


<div id="text"></div>

<!-- <div id="editor"></div>
  <div id="toolbar">


</div> -->
