<footer class="footerC">
  <div class="container-fluid footer1">
    <div class="text-icons">
      <h5 class="titulof">Redes Sociales</h5>
      <div class="container-fluid icons">
        <a href="https://twitter.com/cemetusach?lang=es" target="_blank" class="icon-twitter"><img class="icon-twitter"  src="/assets/icons/logo-twitter.png" alt="Logo Twitter"></a>
        <a href="https://www.instagram.com/cemetusach/" target="_blank"><img class="instaicon" src="/assets/icons/logoinsta.png" alt="Logo Instagram"></a>
        <a href="https://www.linkedin.com/in/centro-estudiantes-de-metalurgia"><img class="linkedinIcon" src="/assets/icons/logo-linkedin.png" alt="Logo LinkedIn"></a>
      </div>
    </div>
  </div>

  <div class="container-fluid footer2">
      <h6 class="centrofooter pt-4">Centro de Estudiantes de Ingeniería en Metalurgia de la Universidad de Santiago de Chile</h6>
  </div>
</footer>
