<footer>
  <div class="container-fluid footer1 pb-4">
    <h5 class="titulof">Redes Sociales</h5>
    <div class="container-fluid iconos">
      <a href="" target="_blank"><img class="faceicon"  src="/assets/icons/logoface.png"></a>
      <a href="https://www.instagram.com/cemetusach/" target="_blank"><img class="instaicon" src="/assets/icons/logoinsta.png"></a>
      <a href="#"><img class="linkedinIcon" src="/assets/icons/logolinkedin.png"></a>
    </div>
  </div>

  <div class="container-fluid footer2">
      <h6 class="centrofooter pt-4">Centro de Estudiantes de Ingeniería en Metalurgia de la Universidad de Santiago de Chile</h6>
  </div>
</footer>
