<div class="container-fluid noticia">
  <div class="container-fluid row">
      <div class="container-fluid containerNoticia">
          <p class="fechaNoticia">{{ new.date }}</p>
          <img class="img-fluid imgNoticia"  [src]="new.image" [alt]="new.title">
      </div>
      <div class="container-fluid infoNoticia">
          <p class="title-new">{{ new.title }}</p>
          <p class="contenidoNoticia">{{ new.description | slice:0:500 }}</p>
      </div>
      <hr class="hrNoticia">
  </div>

</div>
