/*noticias*/
.noticia{
    margin-top: 40px;   
}
.containerNoticia{
    width: 300px;
}
.fechaNoticia{
    margin-bottom: 0px;
    margin-left: 5px;
}
.imgNoticia{
    width: 250px;
    border-radius: 7px;
}
.infoNoticia{
    width: 600px;
    padding-top: 50px;
}
.contenidoNoticia{
    margin-top: 40px;
  
}
.hrNoticia{
    margin-top: 35px;
    width:900px; 
    margin-left:  auto;
    margin-right: auto;
}