/*noticias*/
.noticia{
    margin-top: 40px;
    transition:  all 250ms ease;
    border-radius: 5px;
    margin-bottom: 0px;
}
.noticia:hover{
    background-color: rgb(245, 245, 245);

}
.row{
    transition:  all 400ms ease;
}
.row:hover{
    
    width: 101%;
    margin-top: 40px;
}
.containerNoticia{
    width: 300px;

}
.fechaNoticia{
    margin-bottom: 0px;
    margin-left: 5px;
}
.imgNoticia{
    width: 250px;
    border-radius: 7px;
}
.infoNoticia{
    width: 600px;
    padding-top: 50px;

}
.tituloNoticia{
    text-align: center;
}

.title-new {
  font-size: var(--h5);
}

.contenidoNoticia{
    margin-top: 40px;
    text-align: left;

}
.hrNoticia{
    margin-top: 45px;
    width:900px;
    margin-left:  auto;
    margin-right: auto;
}
