div, h1, button, p {font-family: var(--mainFont);}

.encabezadoContacto{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px
}
.cajaForm{
  display: flex;
  flex-direction: column;
  width: 800px;
  padding-top: 2rem;
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
  border: solid 0.2px rgb(189, 189, 189);
}

.form-group{
  margin-bottom: 25px;
}

.container-success {
  display: flex;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.icon-check {
  height: 16px;
  width: 16px;
}

@media (max-width:980px){
  .cajaForm{width: 90%;}
}
