div, h1, button {font-family: var(--mainFont);}

.encabezadoContacto{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px
}
.cajaForm{
    width: 800px;
    height: 380px;
    padding-top: 50px;
    background-color: rgb(243, 243, 243);
    border-radius: 8px;
    border: solid 0.2px rgb(189, 189, 189);
}

.form-control{
    margin-bottom: 25px;
}
@media (max-width:980px){
    .cajaForm{width: 100%;}
}
