<div class="container-fluid">
  <div class="container row justify-content-sm-center containernav">

    <a href="https://drive.google.com/drive/folders/1KKDmgafW2HtVvPuVooKIfa58JluJgrJN?usp=sharing" target="_blank" class="col-sm conitem">
      <p class="nombreseccion">Nube Papeo</p>
      <img class="img-fluid fotopng" src="/assets/icons/cloud.png" alt="Icono de Nube Papeo">
    </a>

    <div class="col-sm-auto hr2"></div>

    <a routerLink="/papeo" routerLinkActive="active" class="col-sm conitem">
      <p class="nombreseccion">Sube tu Papeo</p>
      <img class="img-fluid fotopng" src="/assets/icons/file.png" alt="Icono de Sube tu Papeo"/>
    </a>

    <div class="col-sm-auto hr2"></div>

    <a routerLink="/malla" routerLinkActive="active" class="col-sm conitem ">
      <p class="nombreseccion">Malla</p>
      <img class="img-fluid fotopng" src="/assets/icons/folder2.png" alt="Icono de Malla">
    </a>

    <div class="col-sm-auto hr2"></div>

    <a routerLink="/home" routerLinkActive="active" class="col-sm conitem ">
      <p class="nombreseccion">Documentos</p>
      <img class="img-fluid fotopng" src="/assets/icons/icon-documents.png" alt="Icono de Documentos">
    </a>

    <div class="col-sm-auto hr2"></div>

    <a routerLink="/forms/reclamos" routerLinkActive="active" class="col-sm conitem ">
      <p class="nombreseccion">Reclamos</p>
      <img class="img-fluid fotopng" src="/assets/icons/complain.png" alt="Icono de Reclamos">
    </a>

  </div>

  <div class="container divultimas">
    <p class="ultimasnoticias">Últimas Noticias</p>
  </div>

  <div class="container container__btn-create" *ngIf="user">
    <button class="btn btn-primary btn-create" routerLink="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
      <div class="text__btn-create">
        Crear Nueva Noticia
      </div>
    </button>
  </div>

  <div class="container container-cards">
    <app-news-card
        *ngFor="let new of news" [new]="new">
    </app-news-card>
  </div>

  <div class="container__mas-noticias">
    <button class="btn__mas-noticias" routerLink="/noticias" routerLinkActive="active">
      <div class="text__mas-noticias">Más Noticias</div>
      <div><img class="icon__mas-noticias" src="/assets/icons/right-arrow.png" alt="Icono Flecha"></div>
    </button>
  </div>

</div>
