p, div {
  font-family: var(--mainFont);
}

.containernav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid 0.5px #dbdbdb;
  border-radius: 20px;
  padding-left: 35px;
}

.conitem {
  text-decoration: none;
  margin-bottom: 15px;
  margin-top: 15px;
}

.nombreseccion {
  color: #5f5f5f;
  font-size: var(--h3);
  margin-bottom: 0;
}

.fotopng {
  width: 80px;
  display: block;
  margin: auto;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.fotopng:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.nombreseccion {
  text-align: center;
}

.hr2 {
  border-left: 1px solid #bdbcbc;
  height: 80px;
  margin-right: auto 0px;
  padding-right: 0px;
  padding-left: 0px;
}

/*Noticias home*/
.divultimas {
  background-color: whitesmoke;
  border-radius: 10px;
  border: solid 0.5px #a5a5a5;
  height: 50px;
}

.ultimasnoticias {
  margin-top: 6px;
  text-align: center;
  font-size: var(--h3);
}

.container__btn-create {
  margin-top: 50px;
}

.btn-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text__btn-create {
  margin-top: 3px;
}

.container-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 5rem;
  padding: 3rem 0;
}

/*boton mas noticias*/
.container__mas-noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__mas-noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 10px;
  font-size: var(--h3);
  text-decoration: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  height: 50px;
  width: 250px;
}

.btn__mas-noticias:hover {
  background-color: #cacaca;
}

.text__mas-noticias {
  padding-top: 5px;
}

.icon__mas-noticias {
  margin-top: 5px;
  height: 25px;
  width: 25px;
}

@media (max-width: 980px) {
  .fotopng {
    width: 50px;
  }
  .nombreseccion {
    font-size: 15px;
  }
  .containernav {
    width: 75%;
  }
  .conitem {
    margin: auto 0px;
    margin-bottom: 20px;
  }
  .hr2 {
    height: 50px;
  }
}

@media (max-width: 625px) {
  .fotopng {
    width: 40px;
  }
  .nombreseccion {
    font-size: 12px;
  }
  .containernav {
    width: 70%;
  }
  .conitem {
    margin: auto 0px;
    margin-bottom: 20px;
  }
  .hr2 {
    height: 30px;
  }
}

@media (max-width: 575px) {
  .containernav {
    width: 65%;
  }
  .nombreseccion {
    font-size: 20px;
  }
  .hr2 {
    border-left: 0px;
    height: 0px;
    margin: auto;
    border-bottom: 1px solid #dbdbdb;
    width: 100px;
    padding-bottom: 25px;
  }
  .conitem {
    margin-left: 0px;
  }
  .fotopng {
    width: 100px;
  }
  .denuncia {
    margin-bottom: 25px;
  }
}
/*# sourceMappingURL=home.component.css.map */